.signup-container {
  display: flex;
  font-family: Arial, sans-serif;
  /* background: linear-gradient(to bottom right, #add8e6, #f9d39e); */
  background-color: #121212;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex: 1;
  padding-top: 100px;
  padding-bottom: 100px;
}
   
.signup-logo-name a{
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  color: #fff;
}

.signup-box {
  display: inline-block;
  background-color: #171717;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid rgb(59, 59, 59);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.signup-box h1 {
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
  align-self: center;
  text-align: center;
  margin-bottom: 10px;
}

.signup-box h2 {
  font-size: 14px;
  font-weight: 500;
  color: #8e9291;
  align-self: center;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.signup-box label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #8e9291;
  font-weight: 600;
}

.signup-box input {
  width: 100%;
  height: 40px;
  background-color: #1d1d1d;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgb(59, 59, 59);
  font-size: 16px;
  box-sizing: border-box;
  padding-left: 14px;
}

.password-wrapper-signup-page {
  display: flex;
  align-items: center;
  position: relative;
}

.password-wrapper-signup-page input {
  width: 100%;
  padding-right: 40px;
}


.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); 
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-password:focus {
  outline: none;
}

.form-group-checkbox {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.form-group-checkbox a {
  color: #8e9291;
  font-size: 15px;
}

.form-group-checkbox input{
  margin-right: 12px;
  width: 13px;
}
    
.register-button-signup-page {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #26815b;
  background-color: #006239;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 25px;
}

.register-button-signup-page:hover {
  background-color: #217953;
}

.signup-page-signup-div {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.signup-page-signup-div span {
  display: flex;
  flex-direction: row;
  color: #8e9291;
}

.signup-page-signup-div a{
  display: flex;
  flex-direction: row;
  color: #d7d7d7;
  cursor: pointer;
  margin-left: 10px;
  text-decoration: underline;
}