.account-settings-profile-container {
  font-family: Arial, Helvetica, sans-serif;
  /* background: linear-gradient(135deg, #101828 30%, #6a33ff 100%); */
  background-color: #121212;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.mentee-profile-form {
  display: block;
}

.mentee-profile-form h1 {
  font-size: 30px;
  display: block;
}

.mentee-profile-title {
  margin-left: 80px;
  margin-top: 30px;
  display: block;
}

.all-settings-form {
  display: flex;
  gap: 50px;
}

.account-settings-form h2 {
  font-size: 30px;
  margin-left: 30px;
  padding-top: 30px;
  color: #fff;
}

.account-settings-form h6 {
  font-size: 12px;
  color: #606060;
  margin-left: 30px;
  margin-top: 20px;
}

.account-settings-form {
  display: inline-block;
  background-color: #171717;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(59, 59, 59);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-top: 25px;
}

.account-settings-infos {
  margin: 30px;
}

.account-settings-infos label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #8e9291;
  font-weight: 600;
}

.account-settings-infos input{
  width: 100%;
  height: 40px;
  background-color: #1d1d1d;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgb(59, 59, 59);
  font-size: 16px;
  box-sizing: border-box;
  padding-left: 14px;
  margin-bottom: 20px;
}

.account-settings-name-surname {
  display: flex;
  gap: 20px;
}

.profile-settings-name {
  display: block;
  width: 50%;
}

.profile-settings-surname {
  display: block;
  width: 50%;
}

.account-settings-button-save {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #26815b;
  background-color: #006239;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 25px;
}

.account-settings-button-save:hover {
  background-color: #217953;
}