.navbar-secondary {
  background-color: #121212;
  border-bottom: 1px solid rgb(59, 59, 59);
}

.navbar-secondary-content {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  text-align: center;
  flex-direction: row;
  align-items: center;
}

.navbar-secondary-content a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
  font-size: 14px;
  font-weight: 550;
}

.navbar-secondary-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit; /* Yazı rengini korur */
}

.navbar-secondary-logo-link:hover {
  color: #006239; /* Hover durumunda renk değişimi */
}

.navbar-secondary-logo-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('../../images/mentup-logo.png');
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: transparent;
  object-fit: cover;
  margin-right: 8px; /* Logo ile yazı arasındaki boşluk */
}

.navbar-secondary-logo-name {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  transition: color 0.3s ease;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-secondary-logo-name a:hover {
  color: #006239;
}

.navbar-secondary-apply-mentorship a {
  border-radius: 100px;
  padding: 8px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navbar-secondary-apply-mentorship a:hover {
  color: #006239;
}

.navbar-secondary-items-right-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-secondary-items a {
  transition: color 0.3s ease;
  border-radius: 100px;
  padding: 8px;
  font-size: 14px;
}

.navbar-secondary-items a:hover {
  color: #006239;
  transform: scale(1.03);
}

.navbar-secondary-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-secondary-messages-button,
.navbar-secondary-notifications-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Genişlik */
  height: 40px; /* Yükseklik */
  font-size: 16px;
  border-radius: 50%; /* Daire şekli */
  margin-left: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar-secondary-messages-button:hover,
.navbar-secondary-notifications-button:hover {
  /* background-color: rgba(0, 98, 57, 0.8); */
  transform: scale(1.25); 
}

.navbar-secondary-profile-button:hover {
  transform: scale(1.15);
}

/* Ana dropdown kapsayıcı */
.navbar-secondary-profile {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Dropdown butonunun tasarımı */
.navbar-secondary-profile-button {
  width: 80px; /* Genişlik */
  display: flex;
  flex-direction: row;  
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 10px   ;
  border-radius: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  gap: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Dropdown menü (gizli) */
.navbar-secondary-dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #171717;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 230px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Profil resmini ve kullanıcı adını üst kısımda hizala */
.navbar-secondary-profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 6px;
  border-bottom: 1px solid #4a4a4a;
}

.navbar-profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

.navbar-profile-name {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: start;
}

.navbar-view-profile-link {
  display: block;
  color: #ccc;
  font-size: 12px;
  margin-top: 5px;
  text-decoration: none;
}

/* Menü elemanları */
.navbar-secondary-dropdown-menu li {
  padding: 5px 0px;
  transition: background-color 0.3s ease;
}

.navbar-secondary-dropdown-menu li:hover {
  background-color: #1d1d1d;
}

/* Menü bağlantı tasarımı */
.navbar-secondary-dropdown-menu-settings,
.navbar-secondary-dropdown-menu-availability,
.navbar-secondary-dropdown-menu-logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
  padding: 10px;
  font-weight: 500;
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
  gap: 10px;
}

.navbar-secondary-profile-image {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  font-size: 14px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.navbar-secondary-dropdown-menu-upload {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.navbar-secondary-dropdown-menu-upload:hover {
  background-color: #1d1d1d;
}

.navbar-secondary-profile-dropdown-image {
  width: 40px; 
  height: 40px; 
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
