* {
  margin: 0;
  padding: 0;
}

.login-container {
    font-family: Arial, sans-serif;
    /* background: linear-gradient(to bottom right, #b2f0e6, #fef3c7); */
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex: 1,
  }

  .login-logo-name a{
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    color: #fff;
  }

  .register-button-login-page-div {
    display: flex;
    position: fixed;
    top: 30px;
    right: 30px;
    gap: 20px;
  }

  .register-button-login-page,
  .mentor-button-login-page {
    display: inline-block;
    background: none;
    border: 1px solid black;
    color: black;
    padding: 0.8rem 2rem;
    border-radius: 3px;
    cursor: pointer;
  }

  .login-box {
    display: inline-block;
    background-color: #171717;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid rgb(59, 59, 59);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
  }

  .login-box h2 {
    font-size: 14px;
    font-weight: 500;
    color: #8e9291;
    align-self: center;
    text-align: center;
  }
  
  .login-title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
  }
  
  .input-group {
    margin: 10px 0;
    text-align: left;
  }
  
  .input-group label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #8e9291;
    font-weight: 600;
  }
  
  .input-group input {
    width: 100%;
    height: 40px;
    background-color: #1d1d1d;
    color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(59, 59, 59);
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 14px;
  }
  
  .password-wrapper-login-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  
  .password-wrapper input {
    flex: 1;
  }

  input[type="password"], input[type="text"] {
    width: 100%;
    padding-right: 30px;
  }

  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    font-size: 14px;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #8e9291;
  }

  .remember-me input {
    display: flex;
    margin-right: 12px;
  }
  
  .forgot-password {
    text-decoration: none;
    color: #8e9291;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .login-button-login-page {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #26815b;
    background-color: #006239;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 25px;
  }
  
  .register-button-login-page:hover {
    background-color: #fff;
  }

  .mentor-button-login-page:hover {
    background-color: #fff;
  }

  .login-button-login-page:hover {
    background-color: #217953;
  }

  .login-page-signup-div {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .login-page-signup-div span {
    display: flex;
    flex-direction: row;
    color: #8e9291;
  }

  .login-page-signup-div a{
    display: flex;
    flex-direction: row;
    color: #d7d7d7;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: underline;
  }

  .message {
    color: #fff;
    margin-top: 20px;
    text-align: center;
  }