.navbar-first {
  background-color: #121212;
  border-bottom: 1px solid rgb(59, 59, 59);

}

.navbar-first-content {
  display: flex;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  /* background: #ffffff; */
  text-align: center;
  /* box-shadow: 0 1px 2px #00000014, inset 0 -1px #ced7e0; */
  /* font-weight: 500; */
  flex-direction: row;
  align-items: center;
}

.navbar-first-content a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
  display: inline-block;
  font-size: 14px;
  font-weight: 550;
}

.navbar-first-content a:hover {
  transform: scale(1.03);
}

.navbar-secondary-logo-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('../../images/mentup-logo.png');
  background-size: cover;
  background-position: center; 
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: transparent;
  object-fit: cover;
}

.navbar-first-logo-name {
  transition: color 0.3 ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-first-logo-name a:hover {
  color: #006239;
}

.navbar-first-apply-mentorship a{
  border-radius: 100px;
  padding: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar-first-apply-mentorship a:hover {
  /* background-color: #ffffff;   */
  color: #006239;
  transform: scale(1.03);
}

.navbar-first-items-right-col {
  display: flex;
  align-items: center;
}

.navbar-first-items a{
  transition: color 0.3s ease;
  border-radius: 100px;
  padding: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 14px;
}

.navbar-first-items a:hover {
  color: #006239;
  /* background-color: #ffffff; */
  transform: scale(1.03);
}

.navbar-first-auth-buttons button {
  margin-left: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 550;
  height: 30px;
  width: 100px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  justify-content: center;
  align-items: center;
}

.navbar-first-login-button {
  background-color: #1d1d1d;
  color: #fff;
  border: 1px solid rgb(59, 59, 59);
}

.navbar-first-login-button:hover {
  /* background-color: #9a9a9a; */
  background-color: #333333;
  transform: scale(1.05);
}

.navbar-first-register-button {
  background-color: #006239;
  color: #fff;
  border: 1px solid #26815b;
}

.navbar-first-register-button:hover {
  background-color: #217953;
  transform: scale(1.05);
}