.browse-mentors-container {
  /* background: linear-gradient(168.18deg, #101828 22.59%, #6938ef 85.64%), linear-gradient(137.87deg, #101828 37.36%, #8619f5 80.62%); */
  background-color: #121212;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.browse-mentors-form h2 {
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
  margin-left: 30px;
  margin-top: 30px;
}

.browse-mentors-search-bar {
  display: block;
  margin-left: 30px;
  margin-top: 30px;
  background-color: #171717;
  border-radius: 8px;
  width: 40%;
  height: 110px;
}

.browse-mentors-search-input-wrapper {
  display: flex;
  align-items: center;
  background-color: #171717;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 8px;
  padding: 5px 10px;
  height: 28px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.browse-mentors-search-input-wrapper input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 14px;
  padding-left: 10px;
  color: #8e9291;
}

.browse-mentors-search-input-wrapper input::placeholder {
  color: #aaa;
}

.browse-mentors-search-icon {
  background-color: #171717;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.browse-mentors-search-icon svg {
  flex-shrink: 0;
  transition: color 0.3 ease;
}

.browse-mentors-search-icon:hover svg{
  color: #555;
}

.browse-mentors-search-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 8px;
  background-color: #171717;
  /* border: 1px solid rgb(59, 59, 59); */
  justify-content: space-between;
  gap: 15px;
}

.browse-mentors-search-tags button{
  display: inline-block;
  width: max-content;
  height: 35px;
  text-align: left;
  border-radius: 8px;
  border: 1px solid rgb(59, 59, 59);
  background-color: #1d1d1d;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  padding: 10px 15px;
}

.browse-mentors-search-tags button:hover {
  border: 1px solid #006239;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.browse-mentors-search-tags span {
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  color: #8e9291;
  font-weight: 400;
}


.browse-mentors-menu-filter {
  position: relative;
}


.browse-mentors-menu-filter ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1d1d1d;
  color: #fff;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px 0;
  margin: 5px 0 0 0;
  z-index: 100;
}

.browse-mentors-menu-filter li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.browse-mentors-menu-filter ul li:hover {
  background-color: #171717;
}

.mentor-list-container {
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.mentor-card {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.mentor-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

.mentor-info h3 {
  margin: 0;
  font-size: 18px;
}

.mentor-title {
  font-size: 14px;
  color: #777;
  margin: 5px 0;
}

.mentor-description {
  font-size: 14px;
  color: #333;
}

.schedule-button {
  padding: 8px 12px;
  background-color: rgb(255, 144, 16);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.schedule-button:hover {
  background-color: rgb(255, 177, 88);

}

.scheduler-panel {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  gap: 8px;
}

.scheduler-panel select, 
.scheduler-panel button {
  padding: 6px;
  border-radius: 4px;
}

.scheduler-panel button {
  cursor: pointer;
  background-color: #4caf50;
}

.scheduler-panel button:hover {
  background-color: #72b175;
}

