.forgot-password-container {
  font-family: Arial, sans-serif;
  /* background: linear-gradient(to bottom right, #b2f0e6, #fef3c7); */
    background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.forgot-password-logo-name a{
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  color: #fff;
}

.forgot-password-box {
  display: inline-block;
  background-color: #171717;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid rgb(59, 59, 59);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.forgot-password-box h1 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}

.forgot-password-box h2 {
  font-size: 14px;
  font-weight: 500;
  color: #8e9291;
  align-self: center;
  text-align: center;
}

.forgot-password-form-group {
  margin: 10px 0;
  text-align: left;
}

.forgot-password-form-group label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #8e9291;
  font-weight: 600;
}

.forgot-password-form-group input {
  width: 100%;
  height: 40px;
  background-color: #1d1d1d;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgb(59, 59, 59);
  font-size: 16px;
  box-sizing: border-box;
  padding-left: 14px;
}

.forgot-password-reset-button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #26815b;
  background-color: #006239;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 25px;
}

.forgot-password-reset-button:hover {
  background-color: #217953;
}