.appointments-container {
  /* background: linear-gradient(168.18deg, #101828 22.59%, #6938ef 85.64%), linear-gradient(137.87deg, #101828 37.36%, #8619f5 80.62%); */
  background-color: #121212;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.appointment-form-title-div {
  padding: 40px;
}

.appointment-form-title {
  color: #fff;
}

.appointment-content-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.appointment-form {
  width: 100%;
}

.appointment-date-title {
  font-size: 20px;
  margin-top: 10px;
  color: #8e9291;
}

.appointment-card {
  display: flex;
  width: 100%;
  background-color: #171717;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(59, 59, 59);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 25px;
}

.appointment-image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-image: url('../../images/mentor.png');
  background-size: cover;
  background-position: center; 
  margin-right: 20px;
  flex-shrink: 0;
  margin: 20px;
  margin-right: 20px;
}

.appointment-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-left: 90px;
}

.appointment-info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-left: 10px;
}

.appointment-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.appointment-mentor-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.appointment-name {
  font-weight: 600;
  font-size: 17px;
  color: #d7d7d7;

}

.appointment-job {
  font-weight: bold;
  color: #3a3a3a;
  background-color: #b1b1b1;
  margin-left: 10px;
  margin: 6px;
  border-radius: 12px;
  font-size: 14px;
  padding: 4px 8px;
}

.appointment-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.appointment-description p{
  margin-right: 32px;
  font-size: 15px;
  color: #8e9291;
}

.appointment-button-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}
.message-button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  margin-right: 20px;
  background-color: rgb(255, 144, 16);
  border: 1px solid rgb(255, 136, 0);;
  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.message-button:hover {
  background-color: rgb(255, 177, 88);
}

.appointment-button {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  background-color: rgb(49, 128, 255);
  border: 1px solid rgb(0, 98, 255);
  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.appointment-button:hover {
  background-color: rgb(77, 144, 253);
}

.appointment-review-button {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  background-color: #006239;
  border: 1px solid #26815b;
  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.appointment-review-button:hover {
  background-color: #217953;
}

.appointment-content h1 {
  color: #fff;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 40px 40px;
}

.toggle-container span {
  margin: 0 10px;
  font-weight: bold;
  color: #8e9291;
  transition: color 0.3s ease;
}

.toggle-container span.active {
  color: #ffffff;
  text-decoration: underline;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
