.contact-container {
  /* background: linear-gradient(135deg, #101828 30%, #6a33ff 100%); */
  background-color: #121212;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.contact-div {
  padding: 20px;
  text-align: center;
}

.contact-title {
  color: #fff;
  font-weight: 500;
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-form {
  background-color: #171717;
  width: 60%;
  margin: 40px auto;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid rgb(59, 59, 59);
  text-align: left;
  margin-bottom: 40px;
}

.contact-form h2 {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.contact-form h3 {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.8;
  margin-bottom: 30px;
  font-weight: 400;
}

.contact-form-section {
  margin-bottom: 30px;
}

.contact-form-section a {
  color: #fff;
}

.contact-form-section h4 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: left;
}

.contact-form-infos a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #6a33ff;
  text-decoration: none;
  margin: 10px 0;
  transition: all 0.3s ease;
}

.contact-form-infos a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.contact-form-social-media a {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #006239;
  margin-bottom: 15px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.contact-form-social-media a:hover {
text-decoration: underline;
transform: scale(1.02);
}

.contact-form-social-media a svg {
  margin-right: 10px;
  font-size: 24px;
}

.contact-form-office-hours a {
  display: block;
  font-size: 16px;
  color: #a1a1a1;
  margin: 10px 0;
}

.contact-form-thanks a {
  font-size: 20px;
  color: #006239;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contact-form-thanks a svg {
  margin-left: 10px;
  font-size: 24px;
}

.contact-container::-webkit-scrollbar {
  width: 8px;
}

.contact-container::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 4px;
}

.contact-container::-webkit-scrollbar-track {
  background: #101828;
}