.apply-mentorship-container {
  /* background: linear-gradient(168.18deg, #101828 22.59%, #6938ef 85.64%), linear-gradient(137.87deg, #101828 37.36%, #8619f5 80.62%); */
  background-color: #121212;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.apply-mentorship-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.apply-mentorship-div-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.apply-mentorship-div-title h1 {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.apply-mentorship-div-title p {
  font-size: 20px;
  font-weight: normal;
  color: #8e9291;
  margin-top: 10px;
}

.apply-mentorship-div-title button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #8e2e28;
  color: white;
  margin-top: 40px;
}

.apply-mentorship-div-title button:hover {
  background-color: #96433d;
}

.apply-mentorship-form {
  display: inline-block;
  background-color: #171717;
  width: 450px;
  margin-top: 25px;
  border-radius: 10px;
  border: 1px solid rgb(59, 59, 59);
  margin-bottom: 100px;
}

.apply-mentorship-name-surname-div,
.apply-mentorship-age-diploma-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.apply-mentorship-name-input,
.apply-mentorship-surname-input,
.apply-mentorship-age-input,
.apply-mentorship-diploma-input {
  display: flex;
}

.apply-mentorship-infos {
  margin: 25px;
}

.apply-mentorship-form label {
  font-size: 14px;
  color: #8e9291;
  font-weight: 600;
  text-align: left;
}

.apply-mentorship-name,
.apply-mentorship-surname,
.apply-mentorship-age,
.apply-mentorship-email,
.apply-mentorship-exp,
.apply-mentorship-why,
.apply-mentorship-certificate,
.apply-mentorship-button-submit-div,
.apply-mentorship-diploma {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.apply-mentorship-name-label,
.apply-mentorship-surname-label,
.apply-mentorship-age-label,
.apply-mentorship-email-label,
.apply-mentorship-exp-label,
.apply-mentorship-why-label,
.apply-mentorship-diploma-label {
  text-align: left;
}

.apply-mentorship-form input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgb(59, 59, 59);
  background-color: #1d1d1d;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  box-sizing: border-box;
  padding-left: 14px;
}

.apply-mentorship-name {
  display: block;
}

.apply-mentorship-certificate {
  display: block;
}

.apply-mentorship-button-certificate {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgb(59, 59, 59);
  background-color: #1d1d1d;
  color: #8e9291;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 25px;
}

.apply-mentorship-button-certificate:hover {
  background-color: #333333;
}

.selected-file-name {
  margin-left: 10px;
  font-style: italic;
  color: #fff;
}

.selected-file-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.remove-file-button {
  background: none;
  border: none;
  color: rgb(255, 74, 74);
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.remove-file-button:hover {
  color: darkred;
}

.apply-mentorship-button-submit {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #26815b;
  background-color: #006239;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
}

.apply-mentorship-button-submit:hover {
  background-color: #217953;
}
.apply-mentorship-search-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

.apply-mentorship-search-tags button{
  display: inline-block;
  width: max-content;
  height: 35px;
  text-align: left;
  border-radius: 5px;
  border: 1px solid rgb(59, 59, 59);
  background-color: #1d1d1d;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  padding: 10px 15px;
}

.apply-mentorship-search-tags button:hover {
  background-color: #333333;
}

.apply-mentorship-search-tags span {
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  color: #8e9291;
  font-weight: 400;
}


.apply-mentorship-menu-filter {
  position: relative;
}


.apply-mentorship-menu-filter ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1d1d1d;
  color: #fff;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px 0;
  margin: 5px 0 0 0;
  z-index: 100;
}

.apply-mentorship-menu-filter li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.apply-mentorship-menu-filter ul li:hover {
  background-color: #171717;
}

.custom-dropdown {
  position: relative;
  margin-bottom: 20px;
}

.custom-dropdown-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
}

.custom-dropdown-input {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 10px;
  background-color: #1d1d1d;
  cursor: pointer;
  color: #fff;
}

.custom-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #1d1d1d;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 10px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.custom-dropdown-option {
  padding: 10px;
  cursor: pointer;
  color: #fff;
}

.custom-dropdown-option:hover {
  background-color: #373737;
}

.custom-dropdown-option.selected {
  background-color: #26815b;
  color: #fff;
}