.reset-password-container {
    font-family: Arial, sans-serif;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

.login-logo-name a {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    color: #fff;
}

.reset-password-box {
    display: inline-block;
    background-color: #171717;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid rgb(59, 59, 59);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.reset-password-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}

.reset-password-input-group {
  margin: 10px 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.reset-password-input-group input {
  width: 100%;
  height: 40px;
  background-color: #1d1d1d;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgb(59, 59, 59);
  font-size: 16px;
  box-sizing: border-box;
  padding-left: 14px;
  margin-bottom: 10px;
}

.reset-password-input-group button[type="submit"] {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #26815b;
  background-color: #006239;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 15px;
}

.reset-password-input-group button[type="submit"]:hover {
  background-color: #217953;
}

.reset-password-input-group {
  margin: 10px 0;
}

.reset-password-input-group label {
    display: inline-block;
    /* margin-bottom: 10px; */
    font-size: 14px;
    color: #8e9291;
    font-weight: 600;
}